@import _root_.daos.models.ItemInfo
@import _root_.daos.models.Blog
@(items: List[ItemInfo], articles: List[Blog])

@frontend(){
@*************************************************@
<div id="left">
    @items.map(i =>(i.categorySortOrder, i.category)).toSet.toList.sortBy{(_:(Option[String], String))._1.getOrElse("")}.map{ case (sortOrder: Option[String], category: String) =>
        <div class="category">
            <ul>
            <div class="category_name">@category</div>
            @items.filter(_.category == category).sortBy(_.sortOrder).map{item =>
            <li>
                <a href="@controllers.routes.ItemController.showItem(item.id)">
                    <div style="background: url(@controllers.img.routes.ImgController.getImg(item.img.getOrElse(""))) center no-repeat; background-size:162px 162px;" class="cat_img">
                        <img width="162px" src="/img/imgmaskt.png" alt=""></img>
                    </div>
                </a><br><br>
                <a class="title" title="@item.title" href="@controllers.routes.ItemController.showItem(item.id)">@item.title</a>
            </li>
            }
            </ul>
        <div class="clear"></div>
        </div>
    }

</div>

@*************************************************@

<div class="article_list"><ul>
    @for(article <- articles.take(5)){
    <li class="article">
        <h2 class="art_title"><a href="@controllers.routes.ArticleController.showArticle(article.blogId)">@article.title</a></h2>
        <div class="date"><p></p></div>
        <div class="art_short">
            @article.shortText
        </div>
        <div class="clear"></div>
    </li>
    }
</ul></div>

}